body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

.login-section, .illustration-section {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-section {
    background-color: #f9f9f9;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

h1 {
    position: absolute;
    width: 320px;
    height: 65px;
    left: 70px;
    top: 30px;

    font-family: 'Archivo Black';
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 65px;

    color: #000000;
}

.login-box {
    width: 100%;
    height: 300px;
    max-width: 300px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;

    
}

h2 {
    margin-bottom: 20px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 25px;
}

input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    font-size: 16px;
    background-color: #9c27b0;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #7b1fa2;
}

footer {
    position: absolute;
    width: 100%;
    height: 100;
    left: 56px;
    top: 675px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;

    color: #000000;


}

.illustration-section {
    background: linear-gradient(205.93deg, #00ADB5 0%, #8015A7 61.66%);
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.illustration-section img {
    max-width: 100%;
    height: 250px;
}
